body{background-color: rgb(253, 225, 130) } 

header{
    background-color: rgb(246, 213, 122);
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
ul{
   text-align: center; 
   border-top: solid 2px black;
   border-bottom: solid 2px black;
   padding: 1px;
}
a:link{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
li{
    
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

    