body{
    background-image: url(../imatges/fondo.gif);
    background-size: 900px 900px;
    font-family: Verdana; 
} 

header{
    width: 770px;
    height: 100px;
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    color: white; 
}
fieldset#primero legend{
    float: right;
    font-family: Verdana;
    font-size: 20px;
  
}
fieldset#primero input, fieldset#segundo input {
    float: left;
    clear: both;
}
fieldset#primero label, fieldset#segundo label{
    float: left;
    clear: both;
}
div#buscar{
    float: right;
    border: 1px solid black;
    padding: 8px;
}
#combi{
    float: right;
}    