body{background-color: rgb(253, 225, 130) } 

header{
    background-color: rgb(246, 213, 122);
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    
}
ul{
   border-top: solid 2px black;
   border-bottom: solid 2px black;
   padding: 1px;
}
a:link{
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

    

.container{
    display: flex;
    flex-direction:  column;
    background-color: goldenrod;
    margin: 5% 5% 5% 5%;
}
.container>header {
    background: goldenrod; 
    color: rgb(32, 95, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>nav {
    background-color: rgb(32, 95, 74);
    color: goldenrod;
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 5px solid white;
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;
}

.container .core {
    display: flex;
    flex-direction: row;
   

}
.container .core article{
    
    flex: 7;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.core article section .video{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container .core aside{
    background-image:  url(../imagen/wcs.png),url(../imagen/mountain.jpeg);
    background-repeat: no-repeat;
    background-position: 40px 270px,0px 170px;
    background-size: 100px 40px, 180px 150px;

    flex: 3;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.container > footer{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI';
    font-size: .8em;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
}
.container footer .mira{
    flex: 7;
}
.container footer .info{
    flex: 3;
    text-align: right;
}

    
   